<h1>Denis McDonald</h1>
<p>Associate Member of the Australian Library and Information Association, and recent graduate of Charles Sturt University's Master of Information Studies (Information Architecture) program.</p>

<p><span class="fa fa-bullhorn fa-lg" style="color:yellow";></span>&nbsp; Currently open to remote work opportunities!</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://au.linkedin.com/in/denismcdonald">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-briefcase fa-lg main-list-item-icon"></span>
    <a href="https://docs.denismcdonald.com">Portfolio</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/denismcdonald/">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-keyboard-o fa-lg main-list-item-icon"></span>
    <a href="https://blog.denismcdonald.com">Blog</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:hello@denismcdonald.com">Email</a>
  </li>
</ul>
