---
layout: default
---

<div class="home">

    <!-- <p class="intro">{{ site.description }}</p> -->
    <br>
    <p>READY.</p>
    <div id="load"></div>
    
    <p id="page-heading">SEARCHING FOR ?<br>LOADING<br>READY.<div id="list"></div></p>
    
    <div id="post-list">
      <h1 class="page-heading">About</h1>

    <a href="mailto:{{ site.email }}">Email</a>
      <br>-----<br>
    <a href="https://www.linkedin.com/in/denismcdonald/">LinkedIn</a>
      <br>--------<br>
    <a href="https://twitter.com/DenisMcD">Twitter</a>
      <br>-------<br>
    <a class="post-link" href="https://github.com/denismcdonald">GitHub</a><span id="cursor">&nbsp;</span>
      <br>------<br>
    <br>
</div>