---
layout: default
---

<div class="home">

    <!-- <p class="intro">{{ site.description }}</p> -->
    <br>
    <p>READY.</p>
    <div id="load"></div>
    
    <p id="page-heading">SEARCHING FOR ?<br>LOADING<br>READY.<div id="list"></div></p>
    
    <div id="post-list">
      <h1 class="page-heading">About</h1>

    <a href="mailto:{{ site.email }}">Email</a>
      <br>-----<br>
    <a href="https://www.linkedin.com/in/denismcdonald/">LinkedIn</a>
      <br>--------<br>
    <a href="https://twitter.com/DenisMcD">Twitter</a>
      <br>-------<br>
    <a class="post-link" href="https://github.com/denismcdonald">GitHub</a>
      <br>------<br>
    <br>
    <span id="text"> </span><span id="cursor">&nbsp;</span>
    <br>
    <div id="secret">
        <a href="#" onclick="commando();">- Go Commando</a>
        <a href="#" onclick="thing();">- Earworm alert</a>
        <a href="#" onclick="ninja();">- Last, not least</a>
        <!-- <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">- Claim typo bounty</a> -->
        <a id="close" href="#">X close</a>
        <!-- <br> -->
      </div>
      <iframe id="frame" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>
  </div>