---
layout: default
---

<div class="home page-content">

    <!-- <p class="intro">{{ site.description }}</p> -->
    <br>
    <p>READY.</p>
    <div id="load"></div>
    
    <p id="page-heading">SEARCHING FOR ?<br>LOADING<br>READY.<div id="list"></div></p>
    
    <div class="page-content" id="post-list">
      <h1 class="page-heading">About</h1>

    <p> * <a href="mailto:{{ site.email }}">Email</a></p>
    <p> * <a href="https://www.linkedin.com/in/denismcdonald/">LinkedIn</a></p>
    <p> * <a href="https://twitter.com/DenisMcD">Twitter</a></p>
    <p> * <a class="post-link" href="https://github.com/denismcdonald">GitHub</a><span id="cursor">&nbsp;</span></p>
    <br>
</div>