---
layout: default
---
<div class="blog">

<h1 class="page-heading">Archive</h1>

<h2 class="topics-heading">Topics:</h2>
{% for category in site.categories %}
    <a class="topics" href="{{ site.baseurl }}/topic/{{ category[0] }}/" style="text-decoration: none;">[{% if category[0] == 'aws' %}{{ category[0] | upcase }}{% else %}{{ category[0] | capitalize }}{% endif %}]</a>
{% endfor %}

<div class="post-list">
  {% for post in site.posts limit:5 %}
  <div class="post-list-item">
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  </div>
  {% endfor %}
</div> 

