---
layout: default
---

<div class="home page-content">

    <!-- <p class="intro">{{ site.description }}</p> -->
    <br>
    <p>READY.</p>
    <div id="load"></div>
    
    <p id="page-heading">SEARCHING FOR $<br>LOADING<br>READY.<div id="list"></div></p>
    
    <div id="post-list">
      <h1 class="page-heading">Archive</h1>
      {% for post in site.posts %}
      
      <div class="post-list-item">
        <span class="post-meta">{{ post.date | date: "%-d %b, %Y" }}</span>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </div>

      {% endfor %}
    </div>
    
    <span id="text"> </span><span id="cursor">&nbsp;</span>
  <div id="secret">
    <a href="#" onclick="commando();">- Go Commando</a>
    <a href="#" onclick="thing();">- Earworm alert</a>
    <a href="#" onclick="ninja();">- Last, not least</a>
    <!-- <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">- Claim typo bounty</a> -->
    <a id="close" href="#">X close</a>
  </div>
  <iframe id="frame" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div>