<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script type="text/javascript">
      var _userway_config = {
        /* uncomment the following line to override default position*/
        /* position: '3', */
        /* uncomment the following line to override default size (values: small, large)*/
        /* size: 'small', */
        /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
        /* language: 'null', */
        /* uncomment the following line to override color set via widget (e.g., #053f67)*/
        /* color: '#b4b7ff', */
        /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
        /* type: '1', */
        /* uncomment the following lines to override the accessibility statement*/
        /* statement_text: "Our Accessibility Statement", */
        /* statement_url: "http://www.example.com/accessibility", */
        /* uncomment the following line to override support on mobile devices*/
        mobile: false, 
        account: '5FNotYbkmN'
      };
    </script>
    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
    <noscript>
      <style>
        #cursor {display: none;}
        #page-heading,
        #post-list, 
        #list, 
        #load {visibility: visible;}
      </style>
    </noscript>
  </body>

</html>
