---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%-d %B, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  <!-- <a class="go-back" title="Return to index" href="/archive">More entries</a> -->
  <!-- <br> -->
  <!-- <a class="edit" href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">Edit<span id="cursor">&nbsp;</span></a> -->
  
  <span id="text"> </span><span id="cursor">&nbsp;</span>
  <div id="secret">
    <a href="#" onclick="commando();">- Go Commando</a>
    <a href="#" onclick="thing();">- Earworm alert</a>
    <a href="#" onclick="ninja();">- Last, not least</a>
    <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">- Claim typo bounty</a>
    <a id="close" href="#">X close</a>
  </div>
  <iframe id="frame" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>

</div>